body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', 'Yu Gothic', Meiry, 'Segoe UI', Tahoma, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans JP Bold', 'Yu Gothic Bold', 'Source Han Sans JP Medium', 'Noto Sans JP', 'Yu Gothic', Meiry, 'Segoe UI', Tahoma, sans-serif;
}

pre, code {
	font-family: 'Noto Sans Mono CJK JP', 'Ricty Diminished', 'Source Han Code JP', 'Courier New', Courier, monospace;
}

img {
    padding: 0 10% 0 10%;
    min-width: 60%;
    max-width: 80%;
}
